body {
	padding: 20px !important;
}
main > .container {
	padding-top: 0 !important;
}
#div-over-select {
	display: inline-block;
}
#div-status {
	display: none;
	background-color: var(--bs-warning);
	color: var(--bs-black);
	font-weight: 500;
	cursor: pointer;
	margin-top: 10px;
}
#div-status.error {
	background-color: var(--bs-danger);
	color: var(--bs-white);
}
#div-status.success {
	background-color: var(--bs-success);
	color: var(--bs-black);
}
span.span-small {
	font-size: 50%;
	font-style: italic;
	color: var(--bs-light);
}
td.td-word-break {
	word-wrap: break-word;
	text-indent: none;
}
span.span-like-link {
	cursor: pointer;
	font-weight: 500;
	color: var(--bs-success);
}
span.span-like-link:hover {
 	color: var(--bs-danger);
}
#div-get-esp32-chip-info {
	display: inline-block;
	padding: 10px;
	border: 1px solid var(--bs-gray-600);
	background-color: var(--bs-dark);
}
#div-esp32-chip-info {
	display: none;
}
button.btn {
	height: 32px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	font-weight: 500;
	margin-top: -5px;
	margin-left: 10px;
}
#span-current-flash-size {
	font-weight: 500;
	color: var(--bs-warning);
}
#span-new-flash-size {
	font-weight: 500;
	color: var(--bs-success);
}
