CONFIG_IDF_TARGET="esp32h2"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#enable BT
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

#disable BT connection reattempt
CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT=n

# Use a custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xC000

#enable lwIP route hooks
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y

# disable softap by default
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# Enable OTA Requestor
CONFIG_ENABLE_OTA_REQUESTOR=y

# Enable HKDF in mbedtls
CONFIG_MBEDTLS_HKDF_C=y

# Time synchronization
CONFIG_OPENTHREAD_TIME_SYNC=y
CONFIG_ENABLE_SNTP_TIME_SYNC=y



#-----------------------


# Enable OpenThread
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_SRP_CLIENT=y
CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC=n
CONFIG_OPENTHREAD_LOG_LEVEL_NOTE=y
CONFIG_ENABLE_CHIP_SHELL=y
CONFIG_OPENTHREAD_CLI=y

# Disable lwip ipv6 autoconfig
CONFIG_LWIP_IPV6_AUTOCONFIG=n

# LwIP config for OpenThread
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8
CONFIG_LWIP_MULTICAST_PING=y

# MDNS platform
CONFIG_USE_MINIMAL_MDNS=n

# Disable STA for ESP32H2
CONFIG_ENABLE_WIFI_STATION=n

# Serial JTag enabled
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y

# CHIP Thread Options
CONFIG_ENABLE_MATTER_OVER_THREAD=y

# Device Identification Options
CONFIG_DEFAULT_DEVICE_HARDWARE_VERSION=2


#========================================================


#CONFIG_ESP_MATTER_ENABLE_DATA_MODEL=1
#CONFIG_ESP_MATTER_COMMISSIONER_ENABLE=1
#CONFIG_ESP_MATTER_MAX_DEVICE_TYPE_CNT=4
#CONFIG_ESP_MATTER_MAX_ENDPOINT_COUNT=4
#
## Конфигурация Wi-Fi
#CONFIG_ESP_WIFI_SSID="your_wifi_ssid"
#CONFIG_ESP_WIFI_PASSWORD="your_wifi_password"
#
## Конфигурация Bluetooth
#CONFIG_BT_ENABLED=y
#CONFIG_BT_LE_ENABLED=y
#
## Параметры OTA
#CONFIG_ESP_MATTER_OTA_REQUESTOR=y
#CONFIG_ESP_MATTER_OTA_DELAYED_APPLY_TIME=0
#
## Размер стека для задач
#CONFIG_ESP_MATTER_THREAD_TASK_STACK=4096
#CONFIG_ESP_MATTER_COMMISSIONER_TASK_STACK=4096

# Sensors configuration
CONFIG_HCSR501_ENABLED=y
CONFIG_RCWL0516_ENABLED=y
CONFIG_HCSR04_ENABLED=y
CONFIG_SENSOR_POLL_PERIOD_MS=1000

# GPIO Configuration
CONFIG_HCSR501_PIR_GPIO=4
CONFIG_RCWL0516_MICROWAVE_GPIO=5
CONFIG_HCSR04_TRIG_GPIO=6
CONFIG_HCSR04_ECHO_GPIO=7
CONFIG_BUTTON_GPIO=0

## Отладка
#CONFIG_LOG_DEFAULT_LEVEL_INFO=y
#CONFIG_ESP_MATTER_LOG_DEFAULT_LEVEL=3
