menu "Custom Device/Firmware Configuration"

  config MIKE_MDNS_HOSTNAME
    string "Custom mDNS Hostname"
    default "esp-ot-br"
    help
      Use this option to set custom mDNS hostname.

  config MIKE_DEVICE_ID
    string "Custom Device ID"
    default "ESP32-Thread-BR"
    help
      Use this option to set custom DeviceID.

  config MIKE_FIRMWARE_VERSION
    string "Custom Firmware Version"
    default "1.0.0"
    help
      Use this option to set custom firmware version.

endmenu
