<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>ESP32-OpenThread-AIOT</title>

<style>#loginOverlay,#mainContent,main,section,#log_window{display:none;}</style>
<link href="/static/static.min.css" type="text/css" rel="stylesheet">
<script src="/static/static.min.js" defer="true"></script>
<link href="/static/style.min.css" type="text/css" rel="stylesheet">
<script src="/static/restful.min.js" defer="true"></script>
<link href="/favicon.ico" rel="icon">

</head>

<body>
  
  <!-- Overlay with login form -->
  <div id="loginOverlay" class="login-overlay">
    <div class="login-form">
      <h2><span class="open-text">Open</span><span class="thread-text">Thread</span> Border Router</h2>
      <form onsubmit="return handleLogin(event)">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit" class="thread-button">Login</button>
      </form>
      <p id="loginError">Invalid credentials</p>
    </div>
  </div>
  <!-- Main content (initially hidden) -->
  
  <div id="mainContent">
    <!-- Existing HTML code here -->
    
    <main id="main">
      <section id="Scan" class="sub-section">
        <div class="container">
          <div class="section-header default-margin">
            <h2><span style="color: #0ea2bd">Discover</span> Thread Network</h2>
            <p>Here, you can scan for available Thread networks, and choose to join one of them.</p>
          </div>
          <div class="row">
            <table id="available_networks_table" class="pure-table pure-table-horizontal">
              <caption>Available Thread Networks</caption>
              <thead>
                <tr>
                  <th style="width: 100px;">No.</th>
                  <th>Network Name</th>
                  <th>Extended PAN ID</th>
                  <th>PAN ID</th>
                  <th>Mac Address</th>
                  <th style="width: 120px;">Channel</th>
                  <th style="width: 120px;">dBm</th>
                  <th style="width: 120px;">LQI</th>
                  <th style="width: 150px;">Action</th>
                </tr>
              </thead>
              <tbody id="available_networks_body">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div id="join_window" class="dialog">
              <div class="dialog-content">
                <h2>Join Information</h2>
                  <form id = "join_network_table" onsubmit="return false">
                    <div>
                      <label for="credentialType">Credential Type:</label>
                      <select id="credentialType" name="credentialType" onclick="frontend_join_type_select(this)">
                        <option value="networkKeyType">Network Key</option>
                        <option value="pskdType">Thread PSKD</option>
                      </select>
                    </div>
                    <div id="join_networkKey" style="margin-top: 40px;">
                      <label for="networkKey">Network Key:</label>
                      <input type="text" name="networkKey" value="00112233445566778899aabbccddeeff">
                    </div>
                    <div id="join_pskd" style="margin-top: 40px; display: none;">
                        <label for="pskd">Pskd:</label>
                        <input type="text"  name="pskd" placeholder="Pskd">
                    </div>
                    <div id = "join_prefix">
                        <label for="prefix">Prefix:</label>
                        <input type="text" name="prefix" value="fd11:22::">
                    </div>
    
                    <div id = "join_defaultRoute">
                      <label for="defaultRoute">Default Route: </label>
                      <input type="checkbox" name="defaultRoute" checked>
                    </div>
                                    
                    <button type = "submit" class="dialog-button" onclick="frontend_submit_join_network(this)">Submit</button>
                    <button type = "submit" class="dialog-button" onclick="frontend_cancel_join_network(this)">Cancel</button>
                    <br/>
                    <br/>
                  </form>
              </div>
            </div>
          </div>
            <div class="row">
              <button class="btn-submit scan" onclick="http_server_scan_thread_network()">Scan</button>
            </div>         
          </div>
        </div>
      </section>
      <section id="Form" class="sub-section">
        <div class="container">
          <div class="section-header default-margin">
            <h2><span style="color: #0ea2bd">Form</span> Thread Network</h2>
            <p>Here, the ESP-OpenThread network would be form using the parameter provided by you.</p>
          </div>
          <div class="part">
            <div class="submit-form">
              <div class="row">
                <div class="col-md-8">
                  <h4>Inputing the parameter of ESP-OpenThread in Form.</h4>
                  <p class="notes">note: the table which marks * must be filled.</p>
                </div>
                <div class="col-md-4">
                  <h4 id="form_tip"
                    style="color: green; font-weight: 200; font-family: 'Times New Roman', Times, serif; display: none;">
                    upload...</h4>
                </div>
                
              </div>
              <hr/>
              <form action="" enctype='application/json' method="post" id="network_form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <span>
                      <p style="font-size: 16px; font-weight:700;">Network Name <span style="color: red;">*</span></p>
                    </span>
                    <input name="networkName" type="text" class="form-control" value="OpenThread-0x99">
                  </div>
                  <div class="col-md-6 form-group">
                    <span>
                      <p style="font-size: 16px; font-weight:700;">Network Key <span style="color: red;">*</span></p>
                    </span>
                    <input name="networkKey" type="text" class="form-control" value="00112233445566778899aabbccddeeff">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <span>
                      <p style="font-size: 16px; font-weight:700;">PANID <span style="color: red;">*</span></p>
                    </span>
                    <input name="panId" type="text" class="form-control" value="0x1234">
                  </div>
                  <div class="col-md-6 form-group">
                    <span>
                      <p style="font-size: 16px; font-weight:700;">Network Channel <span style="color: red;">*</span></p>
                    </span>
                    <input name="channel" type="number" class="form-control" value="15">
                  </div>
                </div>
    
                <div id="form-more-param" style="display:none">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <span>
                        <p style="font-size: 16px; font-weight:700;">Network Extended PANID </p>
                      </span>
                      <input name="extPanId" type="text" class="form-control" value="1111111122222222">
                    </div>
                    <div class="col-md-6 form-group">
                      <span>
                        <p style="font-size: 16px; font-weight:700;">Passphrase/Commissioner Credential</p>
                      </span>
                      <input name="passphrase" type="text" class="form-control" value="j01Nme">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <p style="font-size: 16px; font-weight:700;">On-Mesh Prefix</p>
                      <input name="prefix" type="text" class="form-control" value="fd11:22::">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 form-checkbox">
                      <input type="checkbox" checked="check" name="defaultRoute" />
                      <span style="font-size: 16px;">Default Route</span>
                    </div>
                  </div>
                </div>
                <div class="row" style="float: right;">
                  <a id="form-more-tip" style="font-size:16px" onclick="frontend_click_for_more_form_param()">for more &#x21B5;</a>
                </div>
                <div class="row">
                  <div class="col-md-2">
                      <button type="button" class="btn btn-primary" onclick="http_server_upload_form_network_table()">Form Network</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section id="Settings" class="sub-section">
        <div class="container">
          <div class="section-header default-margin">
            <h2>Thread Network <span style="color: #0ea2bd">Settings</span></h2>
            <p>Here, setting the default options for the ESP-OpenThread network can make your Thread device more flexible.</p>
          </div>
          <div class="part">
            <div class="submit-form">
              <div class="row">
                <div class="col-md-8">
                  <h4>ESP-OpenThread Settings.</h4>
                </div>
                <div class="col-md-4">
                  <h4 id="setting_tip"
                    style="color: green; font-weight: 200; font-family: 'Times New Roman', Times, serif; display: none;">
                    completed...</h4>
                </div>
              </div>
              <hr/>
              <form action="" enctype='application/json' method="post" id="network_setting">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <p style="font-size: 16px; font-weight:700;">On-Mesh Prefix</p>
                    <input name="prefix" type="text" class="form-control" value="fd11:22::">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 form-checkbox">
                    <input type="checkbox" checked="check" name="defaultRoute" />
                    <span style="font-size: 16px;">Default Route</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                      <button type="button" class="btn btn-primary" onclick="http_server_add_prefix_to_thread_network()">Add</button>
                  </div>
                  <div class="col-md-1">
                      <button type="button" class="btn btn-primary" onclick="http_server_delete_prefix_from_thread_network()">Delete</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section id="Status" class="sub-section">
        <div class="container">
          <div class="section-header default-margin">
            <h2>Thread Network <span style="color: #0ea2bd" onclick="http_server_get_thread_network_properties()">Status</span> </h2>
            <p>The status of the ESP-OpenThread network, including its IPv6, network, OpenThread, RCP, WPAN, and other components, would be displayed here.</p>
          </div>
          <div class="row g-4 g-lg-5">
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" id="link_0"
                  onclick="http_server_get_thread_network_properties()">OverView</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" id="link_1">IPv6</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" id="link_2">Network</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" id="link_3">OpenThread</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" id="link_4">RCP</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" id="link_5">WPAN</a></li>
            </ul>
            <div class="tab-content" id="status-content">
              <div class="tab-pane active" id="tab0">
                <div class="row">
                  <div class="col-lg-3">
                    <h4 class="tab-pane-elem" style="font-weight: bold; font-style:normal; color: black"> [ IP Address ]</h4>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Link Local Address</h4>
                    </div>
                    <p id="ipv6-link_local_address" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Routing Local Address</h4>
                    </div>
                    <p id="ipv6-routing_local_address" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Mesh Local Address</h4>
                    </div>
                    <p id="ipv6-mesh_local_address" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Mesh Local Prefix</h4>
                    </div>
                    <p id="ipv6-mesh_local_prefix" class="tab-elem-value">unknown</p>
                  </div>
                  <div class="col-lg-3">
                    <h4 class="tab-pane-elem" style="font-weight: bold; font-style:normal; color: black"> [ Network Information ]</h4>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Name</h4>
                    </div>
                    <p id="network-name" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>PANID</h4>
                    </div>
                    <p id="network-panid" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Partition ID</h4>
                    </div>
                    <p id="network-partition_id" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Extended PANID</h4>
                    </div>
                    <p id="network-xpanid" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Border Agent ID</h4>
                    </div>
                    <p id="network-baid" class="tab-elem-value">unknown</p>
                  </div>
                  <div class="col-lg-3">
                    <h4 class="tab-pane-elem" style="font-weight: bold; font-style:normal; color: black"> [ OpenThread Parameter ]</h4>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Version</h4>
                    </div>
                    <p id="openthread-version" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Version API</h4>
                    </div>
                    <p id="openthread-version_api" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Role</h4>
                    </div>
                    <p id="openthread-role" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>PSKc</h4>
                    </div>
                    <p id="openthread-PSKc" class="tab-elem-value">unknown</p>
                  </div>
                  <div class="col-lg-2">
                    <h4 class="tab-pane-elem" style="font-weight: bold; font-style:normal; color: black"> [ RCP Information ]</h4>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Channel</h4>
                    </div>
                    <p id="rcp-channel" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>IEEE EUI-64</h4>
                    </div>
                    <p id="rcp-EUI64" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>TxPower</h4>
                    </div>
                    <p id="rcp-txpower" class="tab-elem-value">unknown</p>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Version</h4>
                    </div>
                    <p id="rcp-version" class="tab-elem-value">unknown</p>
                  </div>
                  <div class="col-lg-1">
                    <h4 class="tab-pane-elem" style="font-weight: bold; font-style:normal; color: black"> [ WPAN Status ]</h4>
                    <div class="d-flex align-items-center mt-4">
                      <h4>Service</h4>
                    </div>
                    <p id="WPAN-service" class="tab-elem-value">unknown</p>
                  </div>
                </div>
              </div>
    
              <div class="tab-pane" id="tab1">
                <div class="row">
                  <div class="d-flex align-items-center mt-4">
                    <h4>Link Local Address</h4>
                  </div>
                  <p id="t-ipv6-link_local_address" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Routing Local Address</h4>
                  </div>
                  <p id="t-ipv6-routing_local_address" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Mesh Local Address</h4>
                  </div>
                  <p id="t-ipv6-mesh_local_address" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Mesh Local Prefix</h4>
                  </div>
                  <p id="t-ipv6-mesh_local_prefix" class="tab-elem-value">unknown</p>
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <div class="row">
                  <div class="d-flex align-items-center mt-4">
                    <h4>Name</h4>
                  </div>
                  <p id="t-network-name" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>PANID</h4>
                  </div>
                  <p id="t-network-panid" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Partition ID</h4>
                  </div>
                  <p id="t-network-partition_id" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>XPANID</h4>
                  </div>
                  <p id="t-network-xpanid" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Border Agent ID</h4>
                  </div>
                  <p id="t-network-baid" class="tab-elem-value">unknown</p>
                </div>
              </div>
              <div class="tab-pane" id="tab3">
                <div class="row">
                  <div class="d-flex align-items-center mt-4">
                    <h4>Version</h4>
                  </div>
                  <p id="t-openthread-version" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Version API</h4>
                  </div>
                  <p id="t-openthread-version_api" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Role</h4>
                  </div>
                  <p id="t-openthread-role" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>PSKc</h4>
                  </div>PSKc
                  <p id="t-openthread-PSKc" class="tab-elem-value">unknown</p>
                </div>
              </div>
              <div class="tab-pane" id="tab4">
                <div class="row">
                  <div class="d-flex align-items-center mt-4">
                    <h4>Channel</h4>
                  </div>
                  <p id="t-rcp-channel" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>EUI64</h4>
                  </div>
                  <p id="t-rcp-EUI64" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Tx Power</h4>
                  </div>
                  <p id="t-rcp-txpower" class="tab-elem-value">unknown</p>
                  <div class="d-flex align-items-center mt-4">
                    <h4>Version</h4>
                  </div>
                  <p id="t-rcp-version" class="tab-elem-value">unknown</p>
                </div>
              </div>
              <div class="tab-pane" id="tab5">
                <div class="row">
                  <div class="d-flex align-items-center mt-4">
                    <h4>Service</h4>
                  </div>
                  <p id="t-WPAN-service" class="tab-elem-value">unknown</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="Topology" class="sub-section">
        <div class="container">
          <div class="section-header default-margin">
            <h2>Thread Network <span style="color: #0ea2bd">Topology</span></h2>
            <p>The network topology structure of Thread will be shown in a more intuitive and detailed manner here.</p>
          </div>
          <div class="part">
            <hr />
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <h4 style="font-weight:800">Network Name: &nbsp;<span id="topology_netwotkname" style="color: gray;">
                    unknown</span></h4>
              </div>
              <div class="col-md-2">
                <h4 style="font-weight:800">Leader: &nbsp;<span id="topology_leader" style="color: gray;"> unknown</span>
                </h4>
              </div>
              <div class="col-md-3">
                <h4 style="font-weight:800">Router Number: &nbsp;<span id="topology_router_number" style="color: gray;">
                    unknown</span>
                </h4>
              </div>
              <div class="col-md-3">
                <button id="btn_topology" type="submit" value="Running" style="font-weight: bold;"
                  onclick="http_server_build_thread_network_topology(this)">Start Topology</button>
              </div>
            </div>
            <hr />
            <div class="d3graph" id="tolology_canvas" style="width:100%;"></div>
          </div>
        </div>
      </section>
      <div id="log_window" class="dialog" style="padding-top: 10px;">
        <div class="dialog-content" style="width: 400px; padding-top: 10px;">
          <div id = "log_window_title"><span style="font-size: 30px;">Tip:</span></div>
          <div style="width:100%; height:2px; border-top:1px solid #cecaca; clear:both;"></div>
          <div class="row" style="text-align: center; padding-top: 20px; font-size: 18px;">
            <p id = "log_window_content" style="display: inline-block;">Known</p>
          </div>
          <button type = "button" class="dialog-button" style ="width: 60px; height: 30px; " onclick="frontend_log_close(this)">Okay</button>
        </div>
      </div>
    </main>

  </div><!-- Main content (initially hidden) -->
</body>

</html>
